.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar{
    background-color: #003F5C !important;
}
.navbar-brand{
    color: white !important;
    font-weight: bold;
}
.nav-link{
    color: #fff !important;
}

.content{
    padding-top: 80px;
}

.footer{
    padding: 10px;
    text-align: center;
    background-color: #003F5C;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

button{
    background-color: #003F5C;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.692);
    color: #fff;
    padding: 5px;
}

button:hover{
    background-color:tomato;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 99999;
}
.spinner-border{
    height: 100px;
    width: 100px;
}
a{
    text-decoration: none;
}
input , select{
    height: 35px !important;
}
#uncontrolled-tab-example-tab-products{
    color: black !important;
}
.nav-item button{
  color: black !important;
}
.nav-tabs{
    background-color: cadetblue;
}